.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{padding-left: 6px;padding-right: 6px;}
html{height: 100%;}
body{padding-top: 20px;}
.chat{position: relative;display: none;}
.chat form{width: 100%;margin: 0;margin-bottom: 12px;}
.chat_logo{margin-left: -70px;}
#messages {list-style-type: none;padding: 6px 12px;background-color: rgba(255, 255, 3, 0.07);overflow-y: auto;}
#messages p {color: #008000; font-size: 14px; margin: 0;}
span.user_name {color: #f00; }
#onlineUsers p {margin: 0; font-size: 14px; }
.onlineUsersList {padding: 6px 12px;height: 100%; width:100%; display: inline-block; text-align: right; background-color: rgba(0, 247, 0, 0.03);}
.onlineUsersList p {margin: 0; }
.chat_body{margin-top:40px; }
.form_col{display: flex;}
.form{margin: 0 auto;text-align: center;}
.dashed{border: 1px dashed #444;}
.input_massage input{background-color:rgba(255, 0, 31, 0.02);}
